{% extends 'base.html' %}
{% block custom_css %}
    <link rel="stylesheet" type="text/css" href="/static/css/backend.css" >
{% endblock %}

{% block content %}


    <nav class="navbar navbar-inverse navbar-embossed" role="navigation">
        <div class="navbar-header">
            <a class="navbar-brand" href="javascript:;">订单分类:</a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse-01">
            <ul class="nav navbar-nav navbar-left">
                <li><a href="print_orders_list">用户订单</a></li>
                <li><a href="trial_orders_list">试用订单</a></li>
                <li><a href="printed_orders_list">已打印订单</a>
                <li><a href="finished_orders_list">已完成订单</a>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </nav><!-- /navbar -->


    <div style="color:#0f0918">

        <ul class="list-group order-list">

            {% for order in finished_orders_list %}
            <li class="list-group-item">
                <a href="{% url backend_download 'print_order' order.id %}" target="_blank">{{ order.get_file_name }}</a> 
                &nbsp;&nbsp;
                {{ order.get_user }} &nbsp;&nbsp; {{ order.get_user_phone }} &nbsp;&nbsp;
                {{ order.get_building }} &nbsp;&nbsp;
                {{ order.time }} &nbsp;&nbsp; {{ order.get_print_color_of }} &nbsp;&nbsp; {{ order.get_status }} 
                &nbsp;&nbsp; <a href="{% url change_order_status 'print_order' order.id 3 %}?redirect_to=backend_print_orders">打印完成</a>
                &nbsp;&nbsp;<a href="{% url change_order_status 'print_order' order.id 4 %}?redirect_to=backend_print_orders">交易成功</a>
            </li>
            {% endfor %}

    </div>


{% endblock %}

{% block custom_javascript %}
    <script type="text/javascript">
        $(function () {
            $("select").select2({dropdownCssClass: 'dropdown-inverse'});
        });
    </script>
{% endblock %}