{% extends 'base.html' %}

{% block custom_css %}
    <link rel="stylesheet" type="text/css" href="/static/css/backend.css" >
{% endblock %}

{% block content %}
<div class="container">
    <div class="wrapper">
        <div class="llogin-wrapper">
            <h3>管理员登陆</h3>
            <form class="form-group llogin-form" method="POST" action="/backend/login">
                {% csrf_token %}
                <input type="text" name="email" placeholder="邮箱" class="form-control" />
                <input type="password" name="password" placeholder="密码" class="form-control" />
                <input type="submit" value="登陆" class="btn btn-embossed btn-primary"
                    style="width:230px;background-color:#19bb9b;" />
            </form>
        </div>
    </div>
    <!-- /.wrapper-->
</div>
{% endblock %}

{% block custom_javascript %}
<script type="text/javascript">
    $(function(){
        $("select").select2({dropdownCssClass: 'dropdown-inverse'});
    });
</script>
{% endblock %}