{% extends 'base.html' %}
{% block custom_css %}
    <style type="text/css">
        .wrapper {
            text-align: center;
            color: #fff;
            background-color: #405564;
            height: 350px;
            margin: 20px auto 20px auto;
            width: 460px;
        }
        .register-wrapper {
            width: 250px;
            margin-left: auto;
            margin-right: auto;
            padding-top: 30px;
        }
        .register-form input {
            background-color: #293a4a;
            margin: 10px 0 10px 0;
            width: 250px;
            color: #fff;
        }
    </style>
{% endblock %}

{% block content %}


    <nav class="navbar navbar-inverse navbar-embossed" role="navigation">
        <div class="navbar-header">
            <a class="navbar-brand" href="javascript:;">订单分类:</a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse-01">
            <ul class="nav navbar-nav navbar-left">
                <li><a href="print_orders_list">用户订单</a></li>
                <li><a href="trial_orders_list">试用订单</a></li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </nav><!-- /navbar -->


    <div style="color:#0f0918">

        <ul class="list-group print-list" style="margin-left: 40px; width: 1100px;">

            {% for order in trial_orders_list %}
            <li class="list-group-item" style="border-color: #fff;color: #fff;background-color: #405564;margin: 10px 0;">
                <a href="{% url backend_download 'trial_order' order.id %}" target="_blank">{{ order.get_file_name }}</a> 
                &nbsp;&nbsp;
                {{ order.name }} &nbsp;&nbsp; {{ order.phone }} &nbsp;&nbsp;
                {{ order.time }} &nbsp;&nbsp; 黑白 &nbsp;&nbsp; {{ order.get_status }}
                &nbsp;&nbsp; <a href="{% url change_order_status 'trial_order' order.id 3 %}?redirect_to=backend_trial_orders">打印完成</a>
                &nbsp;&nbsp;<a href="{% url change_order_status 'trial_order' order.id 4 %}?redirect_to=backend_trial_orders">交易成功</a>
            </li>
            {% endfor %}

    </div>


{% endblock %}

{% block custom_javascript %}
    <script type="text/javascript">
        $(function () {
            $("select").select2({dropdownCssClass: 'dropdown-inverse'});
        });
    </script>
{% endblock %}