{% extends 'base.html' %}

{% block custom_css %}
<link rel="stylesheet" type="text/css" href="/static/css/dashboard.css" >
{% endblock %}

{% block content %}
<ul class="sidebar hide-on-tablets" id="sidebar">
	<h6 style="color: #fff;">个人中心</h6>
	<p style="color: #fff;">{{user.email}}</p>
	<li><a href="#user-info" id="to-user-info">个人信息</a></li>
	<li><a href="#my-print" id="to-my-print">我的打印</a></li>
</ul> <!-- /nav -->

<div class="container" style="color: #fff;">

{% include 'user_info.html' %}
	
{% include 'my_print.html' %}

</div>
{% endblock %}

{% block custom_javascript %}
<script type="text/javascript">
	$("select").select2({dropdownCssClass: 'dropdown-inverse'});
	$(':radio').radiocheck();
	$('#boy').radiocheck('check');
    $('#black-white').radiocheck('check');
    $('#paid').radiocheck('check');

	$('#to-user-info').click(function(){
		$('#my-print').css('display','none');
		$('#user-info').css('display','block');
	});
	$('#to-my-print').click(function(){
		$('#my-print').css('display','block');
		$('#user-info').css('display','none');
	});
    $(function () {
        $('[data-toggle=tooltip]').tooltip();
    });
</script>
{%  endblock %}
