{% extends 'base.html' %}

{% block custom_css %}

    <style type="text/css">
        .wrapper {
            text-align: center;
            color: #fff;
            background-color: #405564;
            height: 300px;
            margin: 0px auto 20px auto;
            width: 960px;
        }
        .wrapper-content {
            width: 130px;
            margin-left: auto;
            margin-right: auto;
            padding-top: 50px;
        }
    </style>
{% endblock %}

{% block content %}
<div class="container">
    <div class="wrapper">
        <div class="wrapper-content">
        </div>
    </div>

    <div class="wrapper">
        <div class="wrapper-content">
            <p>This is text</p>
        </div>
    </div>
    <!-- /.wrapper-->
</div>
{% endblock %}

{% block navbar %}

    <form class="navbar-form navbar-right" action="/login" method="POST" id="user-form">
        {% csrf_token %}
        <input type="text" placeholder="邮箱" class="form-control" />
        <input type="password" placeholder="密码" class="form-control" />
        <input type="submit" value="登录" class="btn btn-default navbar-btn" style="width:100px;" />
        <a href="/register" style="padding-left: 20px; padding-right: 20px;">注册</a>
    </form>

{% endblock %}
