{{uf.email}}
<div id="my-print" style="display: none;">
    <h4>我的打印<a id="print" data-toggle='modal' class="btn btn btn-danger" style="margin: 0 10px;" href="#upload-to-print">我要打印</a></h4>
    <ul class="list-group print-list" style="width: 640px;">

        {% for order in orders %}
        <li class="list-group-item">
            <h6 class="list-group-item-heading"><a href="#">期末论文.docx</a></h6>
            上传时间：{{ order.time }} </br>
            状态：{{ order.status }}
        </li>        
        {% endfor %}

        <li class="list-group-item">
            <h6 class="list-group-item-heading"><a href="#">期末论文.docx</a></h6>
            上传时间：2015-04-13 15:33 </br>
            状态：已打印
        </li>
    </ul>
</div>

<div id="upload-to-print" class="modal fade in" style="display: none;">
    <h4>填写打印信息</h4>

    <form class="form-horizontal" role="form" method="POST"  enctype="multipart/form-data" action="/print_order" style="width: 700px;">
        {% csrf_token %}
        <div class="form-group">
            <label class="control-label col-lg-2">上传的文件</label>

            <div class="col-lg-5">
                <input type="file" id="print-file" name="file" class="btn btn-embossed btn-primary"
                       style="width: 270px;"/>
            </div>
        </div>

        <div class="form-group">
            <label for="radio" class="control-label col-lg-2">色彩选择</label>

            <div class="col-lg-5" title="彩印和黑白，你懂得" data-toggle="tooltip">
                <label class="radio" for="black-white">
                    <input type="radio" name="color" value="1" id="black-white" data-toggle="radio">
                    黑白
                </label>
                <label class="radio" for="colorful">
                    <input type="radio" name="color" value="0" id="colorful" data-toggle="radio">
                    彩印
                </label>
            </div>
        </div>

        <div class="form-group">
            <label for="radio" class="control-label col-lg-2">打印方式</label>

            <div class="col-lg-5">
                <label class="radio" for="free" title="免费打印会有广告嵌入" data-toggle="tooltip">
                    <input type="radio" name="method" value="1" id="free" data-toggle="radio">
                    免费打印
                </label>
                <label class="radio" for="paid" title="付费打印一切正常" data-toggle="tooltip">
                    <input type="radio" name="method" value="0" id="paid" data-toggle="radio">
                    付费打印
                </label>
            </div>
        </div>

        <div class="form-group">
            <label for="radio" class="control-label col-lg-2">备注</label>

            <div class="col-lg-5" title="有没有什么特殊要求？" data-toggle="tooltip">
                <input name="tel" id="tel" type="text" placeholder="还想交代点什么？"
                       class="form-control input-default txt-info"/>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-lg-4"></label>
            <input class="col-lg-1 btn btn-default btn-primary" type="submit" value="打印"/>
            <input class="col-lg-1 btn btn-default btn-primary" data-dismiss="modal" type="button" value="取消" style="margin-left: 20px;"/>
        </div>

    </form>
</div>
