{% extends 'base.html' %}

{% block custom_css %}
    <style type="text/css">
        .wrapper {
            text-align: center;
            color: #fff;
            background-color: #405564;
            height: 300px;
            margin: 20px auto 20px auto;
            width: 460px;
        }
        .register-wrapper {
            width: 250px;
            margin-left: auto;
            margin-right: auto;
            padding-top: 50px;
        }
    </style>
{% endblock %}

{% block content %}

    <div class="wrapper">
        <div class="register-wrapper">
            <form class="form-group" method="POST" action="/register">
                {% csrf_token %}
                <input type="text" placeholder="邮箱" class="form-control" style="background-color: #293a4a;margin: 10px 0 10px 0;width:250px;color:#fff;"/>
                <input type="password" placeholder="密码" class="form-control" style="background-color: #293a4a;margin: 10px 0 10px 0;width:250px;color:#fff;" />
                <input type="submit" value="注册" class="btn btn-embossed btn-primary" style="width:230px;" />
            </form>
        </div>
    </div>
    <!-- /.wrapper-->
{% endblock %}