{% extends 'base.html' %}

{% block custom_css %}
    <style type="text/css">
        .wrapper {
            text-align: center;
            color: #fff;
            background-color: #405564;
            height: 350px;
            margin: 20px auto 20px auto;
            width: 460px;
        }
    </style>
{% endblock %}

{% block content %}
<div class="container">
    <div class="wrapper" style="overflow: hidden;">
        <h2 style="margin-top: 50px;">{{message}}</h2>
        <a href="{{redir}}">跳转</a>
    </div>
    <!-- /.wrapper-->
</div>
{% endblock %}
